@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

svg {
	width: 100%;
	height: 100%;
}

:root {
	--controls-sm-width: min(47vh, 70.5vw);
	--controls-sm-height: min(30vh, 45vw);
	--controls-lg-width: min(46vh, 30vw);
	--controls-lg-height: min(80vh, 52vw);
	--grid-sm-width: min(52vh, 85vw);
	--grid-lg-width: min(60vw, 82vh);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-element {
	@apply rounded-md;
	@apply placeholder:text-[#6c757d];
	@apply p-3;
	@apply border;
	@apply border-[rgba(0,0,0,0.1)];
	@apply focus-visible:border-blue-400;
	@apply outline-none;
	@apply transition-colors;
}

.google-signin {
	@apply flex-center;
	@apply gap-3;
	@apply form-element;
	@apply w-1/2;
	@apply mr-1;
	@apply text-sm;
	@apply font-semibold;
	@apply text-[#757575];
	@apply hover:shadow-md;
	@apply focus:shadow-lg;
	@apply !transition-shadow;
}

.facebook-signin {
	@apply flex-center;
	@apply gap-3;
	@apply form-element;
	@apply w-1/2;
	@apply ml-1;
	@apply text-sm;
	@apply font-semibold;
	@apply text-white;
	@apply bg-[#3b5998];
	@apply shadow-lg;
	@apply shadow-transparent;
	@apply hover:shadow-gray-400;
	@apply focus:shadow-gray-400;
	@apply !transition-shadow;
}

.form-submit {
	@apply form-element;
	@apply text-white;
	@apply bg-[#1089ff];
	@apply transition-colors;
	@apply hover:bg-blue-600;
	@apply hover:border-blue-300;
	@apply hover:shadow-md;
	@apply focus:bg-blue-600;
	@apply focus:border-blue-300;
	@apply focus:shadow-md;
}
